.contenedor
{
    background-color:rgb(201, 179, 138);
    border-radius: 0.25rem;
    width: 30%;
    padding: 1.25rem;
    box-shadow: 0.625rem 0.625rem 0.3125rem 0px ;
    animation-name: Abrir;
    animation-duration: 3s;
    position: fixed;
    left: 35%;
    top: 20%; 
}
.Tabla
{
    width: 83.5rem;
    height: 62rem;
    position: static;
    top: 0.1rem;
}
.gif
{
    width: 30rem;
    height: 30rem;
    position: fixed;
    background-image: url("../img/cargando.gif");
    background-repeat: no-repeat;
}
.Spinner
{
    
    width: 83.3rem;
    height: 61.5rem;
    background-color: black;
    opacity: 0.5;
    color: white;
    padding-left: 20rem;
    position: absolute;
}
#txtSubmit
{
    width: 15%;
    padding: 0.5rem 0.5rem;
    margin: 0.4rem;
    box-sizing: border-box;
}
#btnSubmit
{
    width: 12%;
    background-color: rgb(187, 65, 65);
    color: white;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 0.625rem 0.625rem 0.313rem 0px rgb(59, 59, 59);
}
.ContBotones
{
    display: flex;
    justify-content: space-around;
}
.XCont
{
    height: 1.9rem;
    width: 1.9rem;
    top: 10%;
    right: 10%;
    position: relative;
    background-color: red;
}
#XCerrar
{
    background-color: red;
    height: 1.875rem;
    width: 1.875rem;
    color: white;
}
.ContCerrar
{
    background-color: transparent;
    position: absolute;
    top: 1rem;
    left: 25.5rem;
    height: 1.875rem;
    width: 1.875rem;
    animation-name: boton;
    animation-duration: 3s;
}
#btnCerrar
{
    position: absolute;
    text-align: center;
    background-color: red; 
    border-radius: 5%;
    color: white;
    box-shadow: none;
    border: solid black 0.063rem;
    top: -0.625rem;
    right: 0.188rem;
    cursor: pointer;
    font-size: 1.25rem;
    height: 1.875rem;
    width: 1.875rem;
    padding: 0.125rem 0.125rem 0.125rem 0.125rem;
    
}
#btnAbrirContenedor
{
    position: fixed;
    background-image:url(./imagen/abrir.png);
    background-position: center;
    border-radius: 50%;
    height: 66px;
    width: 66px;
    background-color: rgb(141, 103, 97);
    border: none;
    box-shadow: 0.4rem 0.4rem rgb(146, 182, 184);
    cursor: pointer;
    top: 0%;
    right: 1%;
}
@keyframes charge
{
    from{display: block;}
    to{display: none;}
}
@keyframes boton
{
    from{opacity: 0; width: 0%;}
    to{opacity: 0; width: 5%;}
}
@keyframes Abrir
{
    from
    {
        width: 0%;
        opacity: 0;
        background-color: brown;
    }to
    {
        width: 30%;
        opacity: 1;
        background-color: rgb(201, 179, 138);
    }
}
.inputError{
    border: 0.125rem solid red;
}
.inputSinError{
    border: 0.063rem solid #ccc;
}
input[type=text]
{
    padding: 0.75rem 1.25rem;
    margin: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}
#cuatri{
    padding: 0.75rem 1.25rem;
    margin: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}
#dates
{
    padding: 0.75rem 1.25rem;
    margin: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}
.BotonEliminar
{
    width: 40%;
    background-color: rgb(187, 65, 65);
    color: white;
    padding: 0.875rem 1.25rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 0.625rem 0.625rem 0.313rem 0px rgb(59, 59, 59);
}
.BotonModificar
{
    width: 40%;
    background-color: rgb(36, 116, 47);
    color: white;
    padding: 0.875rem 1.25rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 0.625rem 0.625rem 0.313rem 0px rgb(59, 59, 59);
}
input[type=button]:hover
{
    background-color: rgb(151, 111, 104);
}
table
{
    width: 100%;
    border: collapse;
}
th, td
{
    text-align: left;
    padding: 0.5rem;
}
th
{
    background-color: rgb(202, 53, 53);
    color: white;
}
tr:nth-child(even)
{
    background-color: rgb(240, 176, 146);
}


